* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Albert Sans", sans-serif;
  background-color: #d6f1f6;
}

/* Navbar */
.site-header {
  position: relative;
  width: 100%;
  background: #e6f9fd;
  z-index: 10;
  border-bottom: 1px solid var(--card-border);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--primary-color);
}

.nav-left a:hover,
.nav-right a:hover {
  color: var(--accent-color);
}

.logo a {
  font-size: 1.3rem;
  text-align: center;
  font-family: var(--font-heading);
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}

.divider {
  padding-left: 3rem;
  padding-right: 3rem;
  bottom: 1rem;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 2.4rem;
  right: 1.5rem;
}

/* Mobile Nav */
@media (max-width: 767px) {
  .nav-toggle-label {
    display: block;
    color: var(--accent-color);
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }

  .logo {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .divider {
    display: none;
  }

  .nav-left,
  .nav-right {
    display: none;
    width: 100%;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 1rem;
  }

  .nav-toggle:checked ~ .nav-left,
  .nav-toggle:checked ~ .nav-right {
    display: flex;
  }

  .nav-container {
    flex-direction: column;
    padding: none;
  }

  .nav-toggle:checked ~ #navbar-logo {
    display: none;
  }

  .nav-left a,
  .nav-right a {
    color: var(--accent-color);
  }

  .nav-left a:hover,
  .nav-right a:hover,
  .nav-menu a:hover {
    color: #bddfe4;
    text-decoration: underline;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
}

.delete-btn {
  margin-top: 1.5rem;
  background-color: #e23232;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.delete-btn:hover {
  background-color: #cb1515;
}
