* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #02343f;
  --secondary-color: #4eb3cf;
  --accent-color: #a0c5cb;
  --background-color: #d6f1f6;
  --footer-bg: #6d99a1;
  --footer-text: #133a44;
  --card-bg: #dcf5f9;
  --card-border: #b3e1e9;
  --cta-color: #207c96;
  --heading-color: #5e8e94;

  --font-heading: "Playfair Display", serif;
  --font-body: "Albert Sans", sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--background-color);
}

/* Navbar */
.site-header {
  position: relative;
  width: 100%;
  background: #e6f9fd;
  z-index: 10;
  border-bottom: 1px solid var(--card-border);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--primary-color);
}

.nav-left a:hover,
.nav-right a:hover {
  color: var(--accent-color);
}

.logo a {
  font-size: 1.3rem;
  text-align: center;
  font-family: var(--font-heading);
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}

.divider {
  padding-left: 3rem;
  padding-right: 3rem;
  bottom: 1rem;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 2.4rem;
  right: 1.5rem;
}

/* Mobile Nav */
@media (max-width: 767px) {
  .nav-toggle-label {
    display: block;
    color: var(--accent-color);
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }

  .logo {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .divider {
    display: none;
  }

  .nav-left,
  .nav-right {
    display: none;
    width: 100%;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 1rem;
  }

  .nav-toggle:checked ~ .nav-left,
  .nav-toggle:checked ~ .nav-right {
    display: flex;
  }

  .nav-container {
    flex-direction: column;
    padding: none;
  }

  .nav-toggle:checked ~ #navbar-logo {
    display: none;
  }

  .nav-left a,
  .nav-right a {
    color: var(--accent-color);
  }

  .nav-left a:hover,
  .nav-right a:hover,
  .nav-menu a:hover {
    color: #bddfe4;
    text-decoration: underline;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
}

/* BLOG POST PAGE */
.post-container {
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 1rem;
  color: var(--primary-color);
  line-height: 1.7;
  position: relative;
}

.post-title {
  font-size: 2.2rem;
  border-bottom: 1px solid var(--heading-color);
  text-align: center;
  margin-bottom: 0.5rem;
}

.post-meta {
  text-align: center;
  font-size: 0.95rem;
  color: var(--heading-color);
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
}

.post-image-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.post-image {
  width: 100%;
  height: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  object-fit: cover;
}

.post-content {
  margin-top: 2rem;
  font-size: 1.05rem;
}

.post-content h2 {
  font-size: 1.4rem;
  margin-top: 2.5rem;
  margin-bottom: 0.75rem;
  color: var(--primary-color);
}

/* EDIT & SHARE */
.edit-container {
  text-align: right;
}

.share-wrapper {
  text-align: right;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.share-btn {
  font-size: 1rem;
  cursor: pointer;
  color: var(--cta-color);
  display: inline-block;
}

.share-btn:hover {
  color: var(--primary-color);
}

#copy-message,
.copy-message {
  color: rgb(0, 128, 62);
  font-size: 0.9rem;
  margin-left: 10px;
  padding: 5px;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Footer */
.site-footer {
  background-color: var(--footer-bg);
  text-align: center;
  padding: 40px 20px;
}

.site-footer h1 {
  color: var(--footer-text);
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--font-heading);
}

.footer-nav {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.footer-nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
}

.footer-nav a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.footer-icons {
  padding-bottom: 2rem;
}

.footer-icons a {
  margin: 0 10px;
  font-size: 1.5rem;
  color: var(--footer-text);
}

.footer-icons a:hover {
  color: var(--accent-color);
}

.site-footer p {
  font-size: 0.9rem;
  color: #000;
}
